/*
 * - Most colors are from VitePress and Vite docs site
 * - "--vpt" prefix stands for vite-plugin-tutorial
 */

:root[data-theme="light"] {
  /* Light mode colors */
  --vpt-gray-soft: rgba(142, 150, 170, 0.14);
  --vpt-indigo-1: #3451b2;
  --vpt-bg: #ffffff;
  --vpt-bg-alt: #f6f6f7;
  --vpt-border: #c2c2c4;
  --vpt-text-1: rgba(60, 60, 67);
  --vpt-preview-bg: #ffffff;
}

:root[data-theme="dark"] {
  /* Dark mode colors */
  --vpt-gray-soft: rgba(101, 117, 133, 0.16);
  --vpt-indigo-1: #a8b1ff;
  --vpt-bg: #1b1b1f;
  --vpt-bg-alt: #161618;
  --vpt-border: #3c3f44;
  --vpt-text-1: rgba(255, 255, 245, 0.86);
  --vpt-preview-bg: #242424;
}

:root {
  --tk-elements-app-backgroundColor: var(--vpt-bg);
  --tk-elements-app-textColor: var(--vpt-text-1);
  --tk-elements-app-linkColor: var(--vpt-indigo-1);
  --tk-elements-app-borderColor: var(--vpt-border);

  --tk-elements-content-textColor: var(--vpt-text-1);
  --tk-elements-content-headingTextColor: var(--vpt-text-1);

  --tk-elements-fileTree-backgroundColor: var(--vpt-bg);
  --tk-elements-fileTree-file-backgroundColor: var(--vpt-bg);
  --tk-elements-fileTree-file-textColor: var(--vpt-indigo-1);
  --tk-elements-fileTree-file-textColorSelected: var(--vpt-indigo-1);

  --tk-elements-topBar-backgroundColor: var(--vpt-bg);
  --tk-elements-topBar-iconButton-backgroundColor: var(--vpt-bg);

  --tk-elements-breadcrumbs-navButton-iconColor: var(--vpt-indigo-1);
  --tk-elements-breadcrumbs-toggleButton-backgroundColor: var(--vpt-bg);
  --tk-elements-breadcrumbs-toggleButton-textDividerColor: var(--vpt-indigo-1);
  --tk-elements-breadcrumbs-toggleButton-iconColor: var(--vpt-indigo-1);
  --tk-elements-breadcrumbs-dropdown-backgroundColor: var(--vpt-bg);

  --tk-elements-navCard-backgroundColor: var(--vpt-bg);
  --tk-elements-navCard-textColor: var(--vpt-indigo-1);
  --tk-elements-navCard-textColorHover: var(--vpt-indigo-1);
  --tk-elements-navCard-borderColorHover: var(--vpt-indigo-1);
  --tk-elements-navCard-iconColorHover: var(--vpt-indigo-1);

  --tk-elements-editPageLink-textColor: var(--vpt-indigo-1);
  --tk-elements-editPageLink-textColorHover: var(--vpt-indigo-1);
  --tk-elements-editPageLink-iconColor: var(--vpt-indigo-1);
  --tk-elements-editPageLink-iconColorHover: var(--vpt-indigo-1);

  --tk-elements-editor-backgroundColor: var(--vpt-bg);
  --tk-elements-editor-gutter-textColor: var(--vpt-indigo-1);
  --tk-elements-editor-gutter-backgroundColor: var(--vpt-bg);
  /* Fallback for #98 */
  --ts-elements-editor-gutter-backgroundColor: var(--vpt-bg);

  a {
    --link-color: var(--vpt-indigo-1);
  }

  pre,
  code {
    --code-background: var(--vpt-bg-alt);
    --code-background-color: var(--vpt-gray-soft);
    --code-color: var(--vpt-indigo-1);
  }

  iframe {
    background-color: var(--vpt-preview-bg);
  }
}
